
<div class="monitor-page">

  <!-- HEADER -->
  <div class="monitor-header">

    <h1>Service Monitoring</h1>

    <div
      class="status-badge"
      [ngClass]="{
        running: monitor?.status?.running,
        stopped: !monitor?.status?.running
      }"
    >
      {{ monitor?.status?.status }}
    </div>

  </div>

  <!-- LIVE STATS -->
  <div class="stats-grid">

    <div class="stat-card">
      <h3>CPU</h3>
      <p>
        <!-- {{ monitor?.metrics?.cpu }}% -->
          {{ latestMetrics.cpu }}%
      </p>
    </div>

    <div class="stat-card">
      <h3>Memory</h3>
      <p>
        <!-- {{ monitor?.metrics?.memory }}% -->
          {{ latestMetrics.memory }}%
      </p>
    </div>

  </div>

  <!-- CPU CHART -->
  <div class="chart-card">

    <h2>CPU Usage</h2>

    <canvas
      baseChart
      [data]="cpuChartData"
      [options]="chartOptions"
      [type]="'line'">
    </canvas>

  </div>

  <!-- MEMORY CHART -->
  <div class="chart-card">

    <h2>Memory Usage</h2>

    <canvas
      baseChart
      [data]="memoryChartData"
      [options]="chartOptions"
      [type]="'line'">
    </canvas>

  </div>

  <!-- LATENCY CHART -->
  <div class="chart-card">

    <h2>Latency</h2>

    <canvas
      baseChart
      [data]="latencyChartData"
      [options]="chartOptions"
      [type]="'line'">
    </canvas>

  </div>

  <!-- AI INTELLIGENCE PANEL -->
  <div class="ai-card">

    <h2>AI Intelligence</h2>

    <div class="ai-grid">

      <div>
        <h3>Scaling Decision</h3>
        <p>
          {{ intelligence?.intelligence?.scaling_decision }}
        </p>
      </div>

      <div>
        <h3>Failure Risk</h3>
        <p>
          {{ intelligence?.intelligence?.failure_risk }}
        </p>
      </div>

      <div>
        <h3>Anomaly</h3>
        <p>
          {{ intelligence?.intelligence?.anomaly }}
        </p>
      </div>

    </div>

  </div>

</div>