<div class="landing">

  <nav class="navbar">

    <div class="logo">
      CloudMind
    </div>

    <div class="nav-buttons">

      <a routerLink="/login">
        Login
      </a>

      <a routerLink="/register">
        Register
      </a>

    </div>

  </nav>

  <div class="hero">

    <h1>
      AI Powered Deployment Platform
    </h1>

    <p>
      Deploy GitHub repositories instantly
      with Docker + AI Monitoring
    </p>

    <a
      routerLink="/register"
      class="start-btn"
    >
      Get Started
    </a>

  </div>

</div>