<ul class="menu">

<li routerLink="/dashboard" routerLinkActive="active" style="cursor: pointer;" >Dashboard</li>

<li routerLink="/services" routerLinkActive="active" style="cursor: pointer;">Services</li>

<li routerLink="/deploy" routerLinkActive="active" style="cursor: pointer;">Deploy Service</li>

<li routerLink="/monitoring" routerLinkActive="active" style="cursor: pointer;">Monitoring</li>

<li routerLink="/logs" routerLinkActive="active" style="cursor: pointer;">Logs</li>

<li routerLink="/settings" routerLinkActive="active" style="cursor: pointer;">Settings</li>

</ul>