<div class="deploy-page">

  <div class="deploy-card">

    <div class="deploy-header">

      <div>

        <h1 class="deploy-title">
          Deploy Service
        </h1>

        <p class="deploy-subtitle">
          Deploy and monitor applications in real time
        </p>

      </div>

      <div class="environment-badge">
        Production
      </div>

    </div>

    <div class="deploy-form">

      <div class="input-group">

        <label class="input-label">
          Git Repository
        </label>

        <input
          type="text"
          [(ngModel)]="repoUrl"
          class="deploy-input"
          placeholder="https://github.com/user/project"
        />

      </div>

      <div class="input-group">

        <label class="input-label">
          Service Name
        </label>

        <input
          type="text"
          [(ngModel)]="projectName"
          class="deploy-input"
          placeholder="auth-service"
        />

      </div>

      <button
        class="deploy-btn"
        (click)="deploy()"
      >
        Deploy Application
      </button>

      <div
        *ngIf="message"
        class="deploy-message"
      >
        {{ message }}
      </div>

    </div>

    <!-- LIVE LOGS -->

    <div
      *ngIf="logs.length > 0"
      class="logs-section"
    >

      <h2>
        Live Deployment Logs
      </h2>

     <div
  #logsContainer
  class="logs-container"
>

  <div
    *ngFor="let log of logs"
    class="log-line"
  >

    {{ log.message }}

  </div>

</div>

    <!-- SUCCESS BUTTON -->

    <div
      *ngIf="deploymentCompleted"
      class="services-btn-container"
    >

      <button
        class="services-btn"
        (click)="goToServices()"
      >
        Go To Services
      </button>

    </div>

  </div>

</div>